{% extends "base.html" %} 
{% block title %} Orders {% endblock title%}
{% block content %} 
{% for order in orders %}
<div class="card" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">{{order.user}}</h5>
    <p class="card-text">{{order.created}}</p>
    <p class="card-text">{{order.discount}}</p>
    <p class="card-text">{{order.tax}}</p>
    <p class="card-text">{{order.get_total_price}}</p>
    <a
      href="{% url 'products:order-detail' order.id %}"
      class="btn btn-primary"
      >View Detail
    </a>
  </div>
</div>
{% endfor %} 
{% endblock content %}